<ion-view title="Borrow" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="borrow-list1">
      <ion-item class="item-avatar" id="borrow-list-item2" ui-sref="tabsController.connect">
        <h2>User1</h2>
      </ion-item>
      <ion-item class="item-avatar" id="borrow-list-item3" ui-sref="tabsController.connect">
        <h2>User2</h2>
      </ion-item>
      <ion-item class="item-avatar" id="borrow-list-item4" ui-sref="tabsController.connect">
        <h2>User3</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 67px;"></div>
    <a ui-sref="tabsController.itemList" id="borrow-button2" class="button button-balanced  button-block">Request Item</a>
  </ion-content>
</ion-view>