<ion-view title="Item List" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="itemList-form8" class="list">
      <label class="item item-input" id="itemList-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item id="itemList-list-item15">Iphone Charger</ion-item>
      <ion-item id="itemList-list-item18">Samsung phone charger</ion-item>
      <ion-item id="itemList-list-item14">Pen</ion-item>
      <ion-item id="itemList-list-item16">Lighter</ion-item>
      <ion-item id="itemList-list-item19">Printer</ion-item>
    </form>
    <a ui-sref="tabsController.connect" id="itemList-button8" class="button button-balanced  button-block">Request Item</a>
  </ion-content>
</ion-view>