<ion-view title="My Item" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="myItem-form4" class="list">
      <ion-checkbox id="myItem-checkbox2">Mac Charger</ion-checkbox>
      <ion-checkbox id="myItem-checkbox3">Samsung Laptop Charger</ion-checkbox>
      <ion-checkbox id="myItem-checkbox4">Iphone Charger</ion-checkbox>
      <ion-checkbox id="myItem-checkbox5">Samsung Phone Charger</ion-checkbox>
      <ion-checkbox id="myItem-checkbox6">Lighter</ion-checkbox>
      <ion-checkbox id="myItem-checkbox7">Printer</ion-checkbox>
    </form>
  </ion-content>
</ion-view>